<div class="sidebar">
    <nav class="navigation">
        <div class="logo">
            <a href="#">
                <img src="" alt="logo do spotify">
            </a>
        </div>
    
        <ul>
            <li>
                <a href="#">
                    <i class="bi bi-house"></i>
                    <span>Início</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-search"></i>
                    <span>Buscar</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="library">
        <div class="library-content">
            <button class="library-button">
                <i class="bi bi-journal"></i>
                <span>Sua Biblioteca</span>
            </button>
            <i class="bi bi-plus-square"></i>
        </div>

        <section class="playlist">
            <div class="playlist-content">
                <span class="text">Crie sua primeira playlist</span>
                <span class="text subtitle">É facil, vamos te  ajudar.</span>
                <button class="playlist-buttom">
                    <span>Criar playlist</span>
                </button>
            </div>
        </section>

        <section class="playlist">
            <div class="playlist-content">
                <span class="text">Que tal seguir um podcast novo?</span>
                <span class="text subtitle">Avisaremos você sobre novos episódios.</span>
                <button class="playlist-buttom buttom2">
                    <span>Explore Podcasts</span>
                </button>
            </div>
        </section>
    
        <div class="cookies">
            <a href="https://github.com/kevinsilva2023">cookies</a>
        </div>
    
        <div class="lang">
            <button class="buttom">
                <i class="bi bi-globe-americas"></i>
                <span>Português do Brasil</span>
            </button>
    
        </div>
    </div>
</div>
