<div class="sidebar-container">

    <!-- Telas Pequenas -->
    <div class="navbar-small">
        <ul class="nav">
            <li class="nav-item">
                <button class="nav-link btn button-icon">
                    <i class="bi bi-house"></i>
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link btn button-icon">
                    <i class="bi bi-grid"></i>
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link btn button-icon">
                    <i class="bi bi-person"></i>
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link btn button-icon">
                    <i class="bi bi-menu-button-wide"></i>
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link btn button-icon">
                    <i class="bi bi-envelope"></i>
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link btn button-icon">
                    <i class="bi bi-brightness-high"></i>
                    <i class="bi bi-moon-stars d-none"></i>
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link btn button-icon message">
                    <i class="bi bi-chat-dots text-dark"></i>
                </button>
            </li>
        </ul>
    </div>

    <!-- Telas Médidas/ Grandes -->
    <div class="navbar-normal">
        <div class="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <button class="nav-link btn button-name border rounded-4">
                        <p class="bi">Home</p>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn button-name">
                        <p class="bi">Portifólio</p>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn button-name">
                        <p class="bi">Sobre Mim</p>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn button-name">
                        <p class="bi">Resumo</p>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn button-name">
                        <p class="bi">Contato</p>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn button-name">
                        <i class="bi bi-brightness-high"></i>
                        <i class="bi bi-moon-stars d-none"></i>
                    </button>
                </li>
                <li class="nav-item message rounded-4 fw-medium">
                    <button class="nav-link btn button-icon " >
                        <p class="bi text-dark">
                            Contate-me
                            &nbsp;
                            <i class="bi-chat-dots"></i>
                        </p> 
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>