<div class="playlist-container">
    <div class="playlist">
        <h1 id="title">Boas Vindas</h1>
        <h2 class="subtitle">Navegue por todas as seções</h2>
    </div>
    <div class="lista-contaier">
        <div class="lista-artistas">
            <section class="lista-card">
                <a href="#" class="card">
                    <div class="card card1">
                        <img src="assets/img/playlist-card/1.jpeg" alt="">
                        <span></span>
                    </div>
                </a>
            </section>
        </div>
    </div>
</div>