.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin: 15px;
    border-radius: 8px;
    background-color: #121212;
    max-width: 78vW;
    margin-left: 23vw;

    .navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .arrow-right,
        .arrow-left {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            background: #131313;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            
        }
    }
}