<div class="header_nav">
        <div class="navigation">
            <button class="arrow-left">
                <i class="bi bi-caret-left-fill"></i>
            </button>
            <button class="arrow-right">
                <i class="bi bi-caret-right"></i>
            </button>
        </div>
        <div class="search">
            <i class="bi bi-search"></i>
            <input 
                id="search-input"
                maxLength="15"
                autocomplete="off"
                placeholder="O que você quer ouvir?"
                />
        </div>
        <div class="login">
            <button class="subscribe-btn">Increva-se</button>
            <button class="login-btn">Entrar</button>
        </div>
</div>