* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// ::-webkit-scrollbar {
//     width: 5px;
// }
// ::-webkit-scrollbar-thumb {
//     width: 5px;
//     background: linear-gradient(135deg, rgb(228, 184, 191) 0%, rgb(206, 196, 239) 100%);
// }